{% load static %}
{% load i18n %}
<div class="container-fluid bg-white shadow-sm">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="{% static 'img/logo.png' %}" alt="BananaShop" width="64" height="64" class="rounded-3 me-2">
        <span class="fs-4">Herald</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search' %}">Поиск</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-person-circle"></i> {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'users:profile' %}"><i class="bi bi-person me-1"></i>Профиль</a></li>
              <li><hr class="dropdown-divider"></li>
              {% if user.is_authenticated %}
              <form method="post" action="{% url 'users:logout' %}" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link nav-link">
                      <i class="bi bi-box-arrow-right me-1"></i> Выйти
                  </button>
              </form>
              {% endif %}
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'users:signup' %}">Регистрация</a>
          </li>
        {% endif %}
      </ul>

    <div class="dropdown mx-auto">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Language" %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for lang in languages %}
            <li>
                <form action="{% url 'set_language' %}" method="post" class="px-3 py-2">
                    {% csrf_token %}
                    <input type="hidden" name="language" value="{{ lang.code }}">
                    <button type="submit"
                            class="dropdown-item btn btn-link">
                        {{ lang.name_local }}
                    </button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

  </div>
</header>
</div>