{% load static %}
<div class="container-fluid bg-white shadow-sm">
<header class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-4">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <i class="bi bi-newspaper me-1"></i>NewsHub
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">{% trans "Home" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search' %}">{% trans "Search" %}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-person-circle"></i> {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'users:profile' %}"><i class="bi bi-person me-1"></i>{% trans "Profile" %}</a></li>
              <li><hr class="dropdown-divider"></li>
              {% if user.is_authenticated %}
              <form method="post" action="{% url 'users:logout' %}" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link nav-link">
                      <i class="bi bi-box-arrow-right me-1"></i> {% trans "Log out" %}
                  </button>
              </form>
              {% endif %}
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">{% trans "Login" %}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'users:signup' %}">{% trans "Registration" %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
</header>
</div>