{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "News aggregator" %}{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon/favicon.svg' %}" />
    <link rel="icon" type="image" href="{% static 'img/favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="WebServer" />
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}" />
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'includes/header.html' %}

    <main class="container mt-4">
        {% block content %}{% trans "The content was not delivered :(" %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>