name: CI/CD

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  black:
    name: Black
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/requirements/*.txt') }}

      - run: pip install black

      - run: black --check --verbose -- .

  flake8:
    name: Flake8
    runs-on: ubuntu-latest
    needs: black

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/requirements/*.txt') }}

      - run: |
          pip install flake8
          pip install -r requirements/flake8_plugins.txt

      - run: flake8 --verbose

  test:
    name: Django tests
    runs-on: ubuntu-latest
    needs: flake8

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/requirements/*.txt') }}

      - run: |
          pip install parameterized==0.9.0
          pip install -r requirements/prod.txt

      - run: |
          cd herald
          python manage.py test
